APP_ENV=local
APP_DEBUG=true
APP_URL=https://blogy.ddev.site
APP_TIMEZONE=Asia/Tbilisi
VITE_DEV_SERVER_URL=https://blogy.ddev.site:5173

ERROR_LOG_PATH=storage/logs/error.log
APPLICATION_LOG_PATH=storage/logs/application.log

DB_HOST=db
DB_PORT=3306
DB_DATABASE=db
DB_USERNAME=db
DB_PASSWORD=db
DB_CHARSET=utf8mb4
DB_QUERY_LOG=false

REDIS_SCHEME=tcp
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TIMEOUT=2.5
REDIS_READ_TIMEOUT=2.5
REDIS_PREFIX=blogy:
REDIS_URL=tcp://redis:6379
