.DS_Store
Thumbs.db

.idea/
.vscode/

.env
.env.local
.env.*.local

/vendor/
/node_modules/

/var/cache/
/var/log/
/storage/cache/
/storage/logs/
/storage/smarty/cache/
/storage/smarty/compile/

*.log
*.tmp
*.swp
